/* ### Primary

- Orange: hsl(26, 100%, 55%)
- Pale orange: hsl(25, 100%, 94%)

### Neutral

- Very dark blue: hsl(220, 13%, 13%)
- Dark grayish blue: hsl(219, 9%, 45%)
- Grayish blue: hsl(220, 14%, 75%)
- Light grayish blue: hsl(223, 64%, 98%)
- White: hsl(0, 0%, 100%)
- Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%) */

:root {
  --bar-width: 40px;
  --bar-height: 5px;
  --bar-gap: 0.2rem;
  --animation-time: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--bar-gap) * 2);
}

body {
  font-family: "Kumbh Sans";
}

#navbar {
  gap: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5rem;
}

#navbar a {
  color: hsl(219, 9%, 45%);
  text-decoration: none;
}

.nav-wrap {
  display: flex;
  gap: 2rem;
}

.nav-cart-pfp {
  display: flex;
  align-items: center;
  gap: 2rem;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 2rem;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: var(--bar-gap);
  cursor: pointer;
  z-index: 2;
  width: max-content;
  position: absolute;
  top: 1.5rem;
  left: 1rem;
}

.hamburger-menu input,
.hamburger-menu::after,
.hamburger-menu::before {
  width: var(--bar-width);
  height: var(--bar-height);
  content: "";
  background-color: black;
  border-radius: 50px;
  transform-origin: left center;
  transition: width var(--animation-time), opacity var(--animation-time),
    translate var(--animation-time), rotate var(--animation-time);
}

.hamburger-menu input {
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
  pointer-events: none;
}

.hamburger-menu input:checked {
  opacity: 0%;
  width: 0;
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: calc(var(--hamburger-height) * 1.41);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: calc(var(--hamburger-height) * 1.41);
  translate: 0 calc(var(--bar-height) / -2);
}

@media (max-width: 760px) {
  .nav-wrap a {
    display: none;
  }

  hr {
    display: none;
  }
}
