/* ### Primary

- Orange: hsl(26, 100%, 55%)
hsl(25, 100%, 94%)

### Neutral

- Very dark blue: hsl(220, 13%, 13%)
- Dark grayish blue: hsl(219, 9%, 45%)
- Grayish blue: hsl(220, 14%, 75%)
- Light grayish blue: hsl(223, 64%, 98%)
- White: hsl(0, 0%, 100%)
- Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%) */

:root {
  --bar-width: 40px;
  --bar-height: 5px;
  --bar-gap: 0.2rem;
  --animation-time: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--bar-gap) * 2);
}

body {
  font-family: "Kumbh Sans";
}

#navbar {
  gap: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
}

#navbar a {
  color: hsl(219, 9%, 45%);
  text-decoration: none;
}

.overlay-active {
  background-color: red;
}

.nav-wrap {
  display: flex;
  gap: 2rem;
}

.nav-cart-pfp {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 2rem;
}

.sidebar {
  position: absolute;
  display: none;
  top: 1rem;
  left: 1rem;
  z-index: 2;
}

#cart-icon-button {
  border: none;
  padding: 0;
  background-color: white;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: var(--bar-gap);
  cursor: pointer;
  z-index: 2;
  width: max-content;
  padding-bottom: 0.5rem;
}

.hamburger-menu input,
.hamburger-menu::after,
.hamburger-menu::before {
  width: var(--bar-width);
  height: var(--bar-height);
  content: "";
  background-color: black;
  border-radius: 50px;
  transform-origin: left center;
  transition: width var(--animation-time), opacity var(--animation-time),
    translate var(--animation-time), rotate var(--animation-time);
}

.hamburger-menu input {
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
  pointer-events: none;
}

.hamburger-menu input:checked {
  opacity: 0%;
  width: 0;
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: calc(var(--hamburger-height) * 1.41);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: calc(var(--hamburger-height) * 1.41);
  translate: 0 calc(var(--bar-height) / -2);
}

.sidebar-menu {
  translate: -140%;
  padding-top: calc(var(--hamburger-height) + 1.5rem);
  background-color: white;
  color: black;
  width: 20rem;
  height: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  font-weight: 800;
  transition: translate var(--animation-time), height var(--animation-time);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.sidebar-menu div {
  padding-left: 2rem;
}

.hamburger-menu:has(input:checked) + .sidebar-menu {
  translate: 0;
  height: 100vh;
}

.carousel-container {
  margin-top: 2rem;
}

.c-item {
  height: 60vh;
}

.c-img {
  height: 100%;
  object-fit: cover;
}

.product-main {
  margin: 2rem 2rem 1rem;
}

.company-name {
  text-transform: uppercase;
  margin: 0;
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  letter-spacing: 1px;
}

.product-name {
  margin: 0;
  color: hsl(220, 13%, 13%);
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2rem;
  padding-top: 1rem;
}

.product-description {
  font-size: 0.9rem;
  margin: 0;
  color: hsl(219, 9%, 45%);
  margin-top: 1rem;
}

.price-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.price-discount-wrap {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.discount-price {
  color: hsl(220, 13%, 13%);
  font-size: 1.5rem;
  font-weight: 700;
}

.discount-per {
  color: hsl(26, 100%, 55%);
  background-color: hsl(25, 100%, 94%);
  font-weight: 700;
  padding: 0.1rem 0.3rem;
  border-radius: 0.4rem;
}

.orignal-price {
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
  padding-right: 2rem;
}

.quantity {
  background-color: hsl(223, 64%, 98%);
  padding: 0.75rem;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: -webkit-fill-available;
}

.quantity button {
  font-weight: 700;
  border: none;
  color: hsl(26, 100%, 55%);
  padding: 0 0.5rem;
  background-color: hsl(223, 64%, 98%);
  transition: transform var(--animation-time);
}

.quantity button:hover {
  transform: scale(1.5);
}

@media (hover: hover) {
  .quantity button:hover {
    transform: scale(1.5);
  }
}

.quantity input {
  background-color: hsl(223, 64%, 98%);
  border: 0;
}

.quantity span {
  font-weight: 700;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.cart {
  width: 100%;
}

.cart-button {
  padding: 0.8rem;
  border-radius: 10px;
  background-color: hsl(26, 100%, 55%);
  border: none;
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  width: 100%;
  padding: 0.8rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: transform var(--animation-time);
}

.cart-button:hover,
.cart-button:active {
  transform: scale(1.1);
}

.modal-dialog {
  width: 95vw;
  height: 30vh;
}

.cart-name {
  font-weight: 800;
}

.cart-box {
  display: flex;
  gap: 1.5rem;
}

.product-img {
  width: 50px;
  border-radius: 5px;
  float: left;
}

.name-product {
  color: hsl(219, 9%, 45%);
}

.quantity-price {
  color: hsl(219, 9%, 45%);
  padding-right: 1rem;
}

.total-price {
  font-weight: 700;
}

.remove-button {
  background-color: white;
  border: none;
}

.cart-hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.checkout-button {
  margin-top: 1.5rem;
  width: 100%;
  background-color: hsl(26, 100%, 55%);
  border: none;
  padding: 0.75rem;
  color: white;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@media (max-width: 760px) {
  .nav-wrap a {
    display: none;
  }

  .nav-hr {
    display: none;
  }

  .sidebar {
    display: block;
    width: 1px;
  }

  #navbar {
    margin-left: 5rem;
  }
}
